<div class="hello-area">
  <h1 class="greeting-title" (click)="changeHelloMessage()">
    {{ helloMessages[currentLanguageIndex()] }}!
  </h1>
  <p>Mein Name ist Sahid Fakiry und ich bin {{ age }} Jahre alt.</p>
</div>

<section>
  <h2>Hobbies</h2>
  <div class="hobbies-area">
    <div>
      <p>
        In meiner Freizeit beschäftige ich mich gerne mit der IT-Welt, um immer
        auf dem Laufenden zu bleiben. Ich bevorzuge aber oft Angular und .NET,
        da sie meinen Weg in die Softwareentwicklung eingeleitet haben.
      </p>
      <p>
        Ich bin sportlich aktiv und man trifft mich ab und zu auf dem
        Basketballfeld.
      </p>
    </div>
    <div class="img-area">
      <img class="hobby-img" src="assets/kobeplaceholder.jpg" alt="Hobby" />
    </div>
  </div>
</section>

<section>
  <h2>Know-How</h2>
  <p>
    Ich habe in meiner vierjährigen Ausbildung zum Applikationsentwickler mein
    Wissen in MS SQL Server, C# und Angular aufgebaut.
  </p>

  <div class="know-how-cards">
    <div class="know-how-cards-item">
      <img class="know-how-icon" src="assets/sql.png" alt="SQL Server" />
      <div class="know-how-list">
        <p>MS SQL Server</p>
        <ul>
          <li>MS SQL Server Management Studio</li>
          <li>DB Schemata</li>
          <li>Views</li>
          <li>Stored Procedures</li>
        </ul>
      </div>
    </div>

    <div class="know-how-cards-item">
      <img class="know-how-icon" src="assets/backend.png" alt="C#" />
      <div class="know-how-list">
        <p>C#</p>
        <ul>
          <li>.NET Core</li>
          <li>ASP.NET Core</li>
          <li>Entity Framework Core</li>
          <li>N-Tier- & Onion-Architecture</li>
        </ul>
      </div>
    </div>

    <div class="know-how-cards-item">
      <img class="know-how-icon" src="assets/frontend.png" alt="Angular" />
      <div class="know-how-list">
        <p>Angular</p>
        <ul>
          <li>TypeScript</li>
          <li>RxJS</li>
          <li>NGXS Statemanagement</li>
          <li>NX</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section>
  <h2>Erfahrung</h2>
  <p>
    Ich habe privat eigene Projekte in Angriff genommen, einerseits um meine
    eigenen Fähigkeiten zu verbessern und andererseits die eingesetzten
    Technologien besser kennenzulernen.
  </p>

  <p>
    In meiner Ausbildung konnte ich in einem Zeiterfassungsprojekt als
    vollwertiges Mitglied mitarbeiten und Features einbauen.
    <br />
    Des Weiteren konnte ich für dieses Projekt eine eigenständige Erweiterung
    entwickeln, um Spesen buchen zu können.
  </p>
</section>

<section>
  <h2>Vernetzen</h2>
  <a href="https://www.linkedin.com/in/sahid-f-27026b249/" target="_blank"
    >LinkedIn</a
  >
</section>
