// .greeting-title {
//   cursor: pointer;
//   user-select: none;
// }

// .hello-area {
//   display: grid;
//   justify-items: center;
// }

// .hobbies-area {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   justify-self: center;
// }

// .img-area {
//   display: flex;
//   justify-content: center;
// }

// .hobby-img {
//   width: 50%;
// }

.know-how-cards {
  display: flex;
  gap: 1rem;

  .know-how-cards-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;

    .know-how-list li {
      padding-left: 0.5rem;
    }

    .know-how-list li::marker {
      content: "▹";
    }
  }
}


.know-how-icon {
  width: 15%;
  height: fit-content;
  padding-left: 1rem;
}


// @media only screen and (max-width: 1024px) {
//   .hobbies-area {
//     display: flex;
//     flex-direction: column;
//   }

//   .hobby-img {
//     width: 100%;
//   }

//   .know-how-cards {
//     flex-direction: column;
//   }
// }
