<div class="hello-area">
  <h1 class="greeting-title" (click)="changeHelloMessage()">
    {{ helloMessages[currentLanguageIndex()] }}!
  </h1>
  <p>Mein Name ist Sahid Fakiry und ich bin {{ age }} Jahre alt.</p>
</div>

<div>
  <h2>Hobbies</h2>
  <div class="hobbies-area">
    <div>
      <p>
        In meiner Freizeit beschäftige ich mich gerne mit der IT-Welt, um immer
        auf dem Laufenden zu bleiben. Ich bevorzuge aber oft Angular und .NET,
        da sie meinen Weg in die Softwareentwicklung eingeleitet haben.
      </p>
      <p>
        Ich bin sportlich aktiv und man trifft mich ab und zu auf dem
        Basketballfeld.
      </p>
    </div>
    <div class="img-area">
      <img class="hobby-img" src="assets/kobeplaceholder.jpg" alt="Hobby" />
    </div>
  </div>
</div>

<div>
  <h2>Know-How</h2>
  <p>
    Ich habe in meiner vierjährigen Ausbildung zum Applikationsentwickler mein
    Wissen in MS SQL Server, C# und Angular aufgebaut.
  </p>

  <div class="know-how-cards">
    <div class="know-how-cards-item">
      <img class="know-how-icon" src="assets/sql.png" alt="SQL Server" />
      <p>MS SQL Server</p>
    </div>

    <div class="know-how-cards-item">
      <img class="know-how-icon" src="assets/backend.png" alt="C#" />
      <p>C#</p>
    </div>

    <div class="know-how-cards-item">
      <img class="know-how-icon" src="assets/frontend.png" alt="Angular" />
      <p>Angular</p>
    </div>
  </div>
</div>

<div>
  <h2>Erfahrung</h2>
  <p>
    Ich habe privat eigene Projekte in Angriff genommen, einerseits um meine
    eigenen Fähigkeiten zu verbessern und andererseits die eingesetzten
    Technologien besser kennenzulernen.
  </p>

  <p>
    In meiner Ausbildung konnte ich in einem Zeiterfassungsprojekt als
    vollwertiges Mitglied mitarbeiten und Features einbauen.
    <br />
    Des Weiteren konnte ich für dieses Projekt eine eigenständige Erweiterung
    entwickeln, um Spesen buchen zu können.
  </p>
</div>
