<h1>Wer Bin Ich?</h1>
<p>Mein Name ist Sahid Fakiry und ich bin {{ age }} Jahre alt.</p>

<div>
  <h2>Hobbies</h2>
  <p>
    In meiner Freizeit beschäftige ich mich gerne mit der IT-Welt, um immer auf
    dem Laufenden zu bleiben. Ich bevorzuge aber oft Angular und .NET, da sie
    meinen Weg in die Softwareentwicklung eingeleitet haben.
  </p>
  <p>
    Ich bin sportlich aktiv und man trifft mich ab und zu auf dem
    Basketballfeld.
  </p>
</div>

<div>
  <h2>Know-How</h2>
  <p>
    Ich habe in meiner vierjährigen Ausbildung zum Applikationsentwickler mein
    Wissen in MS SQL Server, Angular und C# aufgebaut.
  </p>
</div>

<div>
  <h2>Erfahrung</h2>
  <p>
    Ich habe privat eigene Projekte in Angriff genommen, einerseits um meine
    eigenen Fähigkeiten zu verbessern und andererseits die eingesetzten
    Technologien besser kennenzulernen.
  </p>

  <p>
    In meiner Ausbildung konnte ich in einem Zeiterfassungsprojekt als
    vollwertiges Mitglied mitarbeiten und Features einbauen.
    <br />
    Des Weiteren konnte ich für dieses Projekt eine eigenständige Erweiterung
    entwickeln, um Spesen buchen zu können.
  </p>
</div>
