/* You can add global styles to this file, and also import other style files */
html {
  background-color: #cbeaae;
  /* Google font */
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;

  footer {
    background-color: #7b9662;
    height: 10vh;
    margin: 1rem -0.5rem -0.5rem -0.5rem;

    .icon-credit {
      padding: 1rem 0.5rem;
    }
  }
}
