/* You can add global styles to this file, and also import other style files */
html {
  background-color: #cbeaae;
  /* Google font */
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  position: relative;

  a {
    color: #81bc4c;
  }

  footer {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 1rem;
    background-color: #7b9662;

    .icon-credit {
      padding: 1rem 0.5rem;
    }
  }
}
